<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ translate('Nodes overview') }}
    {{ formElement('link', {formId: 'node-form', key: 'add', url: route('entity.choose_bundle', {type: 'node'}), text: translate('Add node'), classes: ['btn', 'btn-primary']})|raw }}
    </h1>&nbsp;
</div>
{{ nodes.content|raw }}