<style>
    #nav-tabContent-container #nav-tabContent {
        position: sticky;
        top: 0px;
    }
</style>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ page.title }}</h1>
        <a href="{{ route('entity.update') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Update entities</a>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                {% for extension, info in extensions %}
                <a class="list-group-item list-group-item-action{% if active == extension %} active{% endif %}" id="list-{{ extension }}-list" data-toggle="list" href="#list-{{ extension }}" role="tab" aria-controls="{{ extension }}">
                    {{ info.name }}
                    <span class="badge badge-{% if info.latest %}success{% else %}danger{% endif %} badge-pill">{{ info.version }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9" id="nav-tabContent-container">
            <div class="tab-content" id="nav-tabContent">
                {% for extension, info in extensions %}
                    {% if action is not null and active == extension %}
                        {% set action_translated = translate(action) %}
                        <div class="tab-pane fade{% if active == extension %} show active{% endif %}" id="list-{{ extension }}" role="tabpanel" aria-labelledby="list-{{ extension }}-list">
                            <p>{{ translate("Are you sure you wish to :action :extension?", {':action': action_translated, ':extension': extension}) }}</p>
                            <p><a class="btn btn-success" href="{{ route('extension.action', {ext: extension, action: action, confirm: ""}) }}" role="button">{{ translate("I'm sure!") }}</a>
                            <a class="btn btn-danger" href="{{ route('extension.view', {ext: extension}) }}" role="button">{{ translate("No, take me back!") }}</a></p>
                        </div>
                    {% else %}
                        <div class="tab-pane fade{% if active == extension %} show active{% endif %}" id="list-{{ extension }}" role="tabpanel" aria-labelledby="list-{{ extension }}-list">
                            <p>Type: {{ info.type }}</p>
                            <p>Machine name: {{ extension }}</p>
                            <p>Version: {{ info.version }}  {% if not info.latest %}<sup>(Update available)</sup>{% endif %}</p>
                            <p>Installed: {% if info.installed %}Yes{% else %}No{% endif %}</p>
                            {% if info.description %}
                                <p>{{ info.description|raw|nl2br }}</p>
                            {% endif %}
                            {% if info.installed and not info.required %}
                                <p><a class="btn btn-danger" href="{{ route('extension.action', {ext: extension, action: 'uninstall'}) }}" role="button">{{ translate('uninstall')|capitalize }}</a></p>
                            {% elseif not info.installed %}
                                <p><a class="btn btn-primary" href="{{ route('extension.action', {ext: extension, action: 'install'}) }}" role="button">{{ translate('install')|capitalize }}</a></p>
                            {% elseif info.required %}
                                <p>{{ translate("This extension is required and cannot be uninstalled.") }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>