                </div>
            </div>
            {% for element in elements.page_bottom %}
                {{ element(element.render) }}
            {% endfor %}
            {% for item in content %}
                {{ item|raw }}
            {% endfor %}
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Cherry CMS {{ 'now'|date('Y') }}</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">{{ translate('Ready to Leave?') }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ translate('Select "Logout" below if you are ready to end your current session.') }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ translate('Cancel') }}</button>
                        <a class="btn btn-primary" href="{{ route('logout') }}">{{ translate('Logout') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ theme.location }}/vendor/jquery/jquery.min.js"></script>
        <script src="{{ theme.location }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{ theme.location }}/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="{{ theme.location }}/js/sb-admin-2.min.js"></script>
        <script src="{{ theme.location }}/vendor/chart.js/Chart.min.js"></script>
        <script src="{{ theme.location }}/js/demo/chart-area-demo.js"></script>
        <script src="{{ theme.location }}/js/demo/chart-pie-demo.js"></script>
        {% for file in js %}
            <script src="{{ file }}"></script>
        {% endfor %}
    </body>
</html>