<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block metatags %}
        {% endblock %}
        <title>{% block page_title %}{% endblock %} - {{ site.name }}</title>
        <link href="{{ theme.location }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ theme.location }}/css/sb-admin-2.min.css" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body id="page-top">
        {% block regions %}
        {% endblock %}
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">{{ translate('Ready to Leave?') }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ translate('Select "Logout" below if you are ready to end your current session.') }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ translate('Cancel') }}</button>
                        <a class="btn btn-primary" href="{{ route('logout') }}">{{ translate('Logout') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ theme.location }}/vendor/jquery/jquery.min.js"></script>
        <script src="{{ theme.location }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{ theme.location }}/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="{{ theme.location }}/js/sb-admin-2.min.js"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>