<h1 class="h3 mb-2 text-gray-800">Recent logs <a class="btn btn-primary" href="{{ route('logs.clear') }}">Clear logs</a></h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            {% for key, value in log %}
                {{ key }}: {% if key == 'backtrace' %}<pre>{% endif %}{{ value }}{% if key == 'backtrace' %}</pre>{% endif %}<br />
            {% endfor %}
        </div>
    </div>
</div>