    <h1 class="h3 mb-2 text-gray-800">Recent logs <a class="btn btn-primary" href="{{ route('logs.clear') }}">Clear logs</a></h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Message</th>
                        <th>Page</th>
                        <th>Type</th>
                        <th>Owner</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp }}</td>
                        <td><a href="{{ route('logs.view', {'lid': log.id}) }}">{{ log.message }}</a></td>
                        <td>{{ log.page }}</td>
                        <td>{{ log.type|capitalize }}</td>
                        <td>{{ log.owner }}</td>
                        <td>{{ log.category }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>