{% extends 'html.html.twig' %}

{% block metatags %}
    {% for item in metatags %}
    <meta {{ item }}>
    {% endfor %}
{% endblock %}

{% block page_title %}
    {{ page.title }}
{% endblock %}

{% block stylesheets %}
    {% for item in libaries.css %}
    <link href="{{ item }}" rel="stylesheet" />
    {% endfor %}
{% endblock %}

{% block regions %}
    {{ element(elements.header) }}
    {{ element(elements.sidebar_left) }}
    {{ element(elements.content) }}
    {{ element(elements.footer_top) }}
    {{ element(elements.footer) }}
{% endblock %}

{% block javascript %}
    {% for item in libaries.js %}
    <script src="{{ item }}"></script>
    {% endfor %}
{% endblock %}