    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            {{ form|raw }}
        </div>
    </div>