<!-- Content Row -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-responsive" id="dataTable">
                <thead>
                    <tr class="active">
                        {% for field in fields %}
                            {% if not hidden[field] %}
                                <th>{{ field }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for data in values %}
                    <tr>
                        {% for field in fields %}
                            {% if not hidden[field] %}
                                {% if field == 'title' or field == 'label' or field == 'name' %}
                                    <td><a href="{{ route('entity.view', {eid: data.id, type: type}) }}">{{ data[field]|raw }}</a></td>
                                {% else %}
                                    <td>{{ data[field]|raw }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>