<!-- Content Row -->
<div class="row">
    {% for data in values %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary"><a href="{{ route('entity.view', {eid: data.id, type: type}) }}">{{ data.title }}{{ data.label }}{{ data.name }}</a></h6>
            </div>
            <div class="card-body">
                {% for field in fields %}
                    {% if not hidden[field] %}
                        {% if field != 'title' and field != 'label' and field != 'name' %}
                            <p><em>{{ field }}: </em>{{ data[field]|raw }}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>