<div class="form-check">
    <input id="{{ formId }}-{{ key }}" type="checkbox"
           class="form-check-input{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}"{% for key,value in attributes %} {{ key }}="{{ value|raw }}"{% endfor %}
           {% if value == 1 or (not value and default_value == 1) %} checked{% endif %}
    >
    <label class="form-check-label" for="{{ formId }}-{{ key }}">{{ title }}</label>
</div>