<div class="form-group row">
    <div class="col-sm-12">
        <div class="btn-group" id="{{ formId }}-{{ key }}">
            <a class="btn{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}" href="{{ first.link }}">{{ first.text }}</a>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">{{ translate('Toggle Dropdown') }}</span>
            </button>
            <div class="dropdown-menu">
                {% for item in links %}
                <a class="dropdown-item" href="{{ item.link }}">{{ item.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>