.environment {
    position: fixed;
    z-index: 9999999;
    padding: 10px 20px;
    cursor: pointer;
    transition: bottom 2s ease-out 100ms;
}

.environment .environment--label {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.environment.environment--master {
    background-color: #f44336;
    color: rgba(255,255,255,0.84);
}

.environment.environment--release {
    background-color: #ffcc00;
    color: rgba(255,255,255,0.84);
}

.environment.environment--develop {
    background-color: #3fde31;
    color: rgba(255,255,255,0.84);
}

.environment.environment--full {
    width: 100%;
    bottom: 0;
    left: 0;
}

.environment.environment--teaser {
    bottom: 0;
    right: 0;
}

.environment .environment--full--content {
    cursor: pointer;
}

.environment.environment--teaser .environment--full--content {
    display: none;
}
