<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ page.title }}
        {% if entity.id is not null %}
            {{ local_tasks|raw }}
        {% endif %}
    </h1>
</div>

Are you sure you wish to delete {{ entity.type }} {{ entity.id }}? <br />
<a class="btn btn-primary" href="{{ route('entity.delete', {'eid': entity.id, 'type': entity.type, 'confirm': ''}) }}">Yes, I'm sure!</a>
<a class="btn btn-danger" href="{{ route('entity.view', {'eid': entity.id, 'type': entity.type}) }}">No, take me back</a>