<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ translate('List of entity types') }}</h1>&nbsp;
</div>

<!-- Page Content -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <div class="list-group">
        {% for type, info in entities %}
            <a href="{{ route('entity.overview', {type:type}) }}" class="list-group-item list-group-item-action">
                {{ info.label }}
            </a>
        {% endfor %}
    </div>
</div>