<div class="btn-group" role="group" aria-label="Conditional actions">
{% for route,options in tasks %}
    <a href="{{ route(route, {'eid': options.parameters.eid, 'type': options.parameters.type}) }}" class="{% for class in options.classes %}{{ class }} {% endfor %}">{{ options.label }}</a>
{% endfor %}
</div>