<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ page.title }}
    {{ formElement('link', {formId: 'entity.overview.add', key: 'add', url: route('entity.choose_bundle', {type: entity.type}), text: translate('Add :type', {':type': entity.type}), classes: ['btn', 'btn-primary']})|raw }}
    </h1>
</div>
{{ entity.content|raw }}