<!-- Page Heading -->
<div class="d-sm-flex align-items-center flex-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ page.title }}
        {% if entity.id is not null %}
            {{ local_tasks|raw }}
        {% endif %}
    </h1>
</div>
{{ entity.content|raw }}