<div class="environment environment--teaser environment--{{ environment }}">
    <span class="environment--label">{{ environment }}</span>
    <span class="environment--full--content">
    {% for item in last_changes %}
        {{ item }}
    {% endfor %}
    </span>
</div>